@import "./utils/variables";
@import "./base/typography";
@import "./base/reset";
@import "./components/buttons";
@import "./components/cards";
@import "./layout/header";
@import "./layout/footer";

/*Couleur de fond*/
.presentation,
.working__card,
.restaurant {
    background: $color-background;
}
/*Localisation*/
.location {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
    &__description {
        margin-left: 1rem;
    }
}
/*présenation du site*/
.presentation {
    padding: 1rem 1.5rem;
    text-align: center;
}

/*Fonctionnement du site*/
.working {
    margin: 0 5%;
    padding: 10% 0;
    &__container {
        margin: 0 5%;
    }
    &__card {
        margin: 5% 0;
        display: flex;
        padding: 1.5rem;
        position: relative;
        &--purple {
            background: lighten($color-primary, 35%);
        }
    }
    &__icon {
        color: #7e7e7e;
        margin-right: 5%;
        &--purple {
            color: $color-primary;
        }
    }
    &__step {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: $color-primary;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        position: absolute;
        left: -12px;
    }
}

/*Choix restaurant*/
.restaurant {
    padding: 1rem;
}
.restaurant-card {
    background: #fff;
    width: 100%;
    height: auto;
    position: relative;
    margin: 5% 0;
    &__link {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    &__img {
        border-radius: 20px 20px 0 0;
        height: 150px;
        width: 100%;
        object-fit: cover;
    }
    &__new {
        padding: 0.4em 0.6em;
        position: absolute;
        background: $color-tertiary;
        color: darken($color-tertiary, 45%);
        right: 5%;
        top: 5%;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 0.8rem;
    }
    &__fav {
        border: none;
        background: none;
        font-size: 25px;
        z-index: 2;
        padding: 1em;
        margin: -1em -0.5em;
    }
}
