@import "../utils/mixins";
.header {
    width: 100%;
    box-shadow: 0px 0px 7px 1px rgba(182, 177, 177, 0.75);
    padding: 0.6rem;
    position: relative;
    z-index: 2;
    @media screen and (min-width: $breakpoint-tablet) {
        padding: 1rem;
    }
    &__logo {
        @include font-secondary;
        font-size: 30px;
        text-align: center;
        @media screen and (min-width: $breakpoint-tablet) {
            font-size: 40px;
        }
    }
    &__icon {
        font-size: 20px;
        position: absolute;
        bottom: 30%;
        left: 7%;
        color: #000;
        @media screen and (min-width: $breakpoint-tablet) {
            font-size: 28px;
        }
    }
}
