@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/keyframes";
@import "../components/buttons";

.restaurant-choice__img {
    height: 300px;
    width: 100%; 
    object-fit: cover;
    @media screen and (min-width: $breakpoint-desktop) {
        object-position: 50% 65%;
    }
}
.menu {
    width: 100%;
    padding: 2rem 5%;
    background: $color-background;
    border-radius: 35px 35px 0 0;
    position : relative;
    top: -70px;
    margin-bottom: -70px;
    &__btn {
        display: flex;
        margin: 0 auto;
        padding: 0.9rem 2.5rem;
    }
    @media screen and (min-width: $breakpoint-desktop) {
        border-radius: 0;
        padding: 2% 5%;
    }
    @media screen and (min-width: $breakpoint-desktoplarge) {
        padding: 2% 7%;
    }
}
.menu-title {
    @include font-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
        font-size: 28px;
    }
    @media screen and (min-width: $breakpoint-desktop) {
        justify-content: flex-start;
        & h1 {
            font-size: 30px;
            padding-right: 1.2rem;
        }
    }
}
.check-icon{
    margin: auto;
    transform: rotate(0);
}

/*Sélection d'un plat*/
.menu-selection {
    margin: 1rem 0;
    opacity: 0;
    animation: menu-appearing 1s ease-in both;
    animation-delay: 150ms;
    @media screen and (min-width: $breakpoint-desktop) {
        margin: 0;
    }

    /*animation appariton menu*/
    &:nth-child(2) {
        animation-delay: 800ms;
    }
    &:nth-child(3) {
        animation-delay: 1300ms;
    }
    
    &__title {
        @include light-font;
        text-transform: uppercase;
        font-size: 18px;
        border-bottom: 3px solid $color-tertiary;
        padding: 0.3rem 0;
        width: 40px;
       
    }
    &__description {
        @include light-font;
        margin-top: 0.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 0.5rem;
    }
    &__card {
        position: relative;
        display:flex;
        justify-content: space-between;
        padding: 1rem;
        margin: 3% 0;
        & h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 0.5em;
        }
       /*swipe prix*/
        &:hover > .menu-selection__price {
            transition: 400ms ease-in-out;
             margin-right: 19%;
             @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop){
                margin-right: 17%;
            }

        }
        /*swipe check*/
        &:hover > .menu-selection__check {
            transition: 400ms ease-in-out;
            width:17%;
            opacity: 1;
            transform: translateX(0);
            @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop){
                width: 15%;
            }
        }
        &:hover .check-icon {
            transition: 500ms ease-in-out;
            transform: rotate(360deg);
        }
    }
    &__price {
        align-self: flex-end;
        font-weight: 600;
        transition: 400ms ease-in-out;
    }
    &__check {
        position: absolute;
        display: flex;
        top:0;
        right:0;
        color: #fff;
        font-size: 22px;
        background: $color-tertiary;
        width: 0%;
        border-radius: 0 15px 15px 0;
        height: 100%;
        opacity: 0;
        transform: translateX(1px);
        transition: 400ms ease-in-out;
        @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop){
            font-size: 30px;
        }
    }
}
.menu-container {
    @media screen and (min-width: $breakpoint-desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3% 0;
        gap: 2%;
        justify-content: center;
    }
    @media screen and (min-width: $breakpoint-desktoplarge) {
        grid-template-columns:  1fr 1fr 1fr;
    }
}


